{
  email arcbjorn@proton.me
}

infra.arcbjorn.com {
  reverse_proxy portainer:9000
}

db.arcbjorn.com {
  reverse_proxy pgadmin:80
}

git.arcbjorn.com {
  reverse_proxy gitea:3000
}

analytics.arcbjorn.com {
  reverse_proxy umami:3000
}

uptime.arcbjorn.com {
  reverse_proxy uptime-kuma:3001
}

server.arcbjorn.com {
  reverse_proxy filebrowser:8080
}

dashboard.arcbjorn.com {
  root * /static/dashboard.arcbjorn.com
  try_files {path} /index.html
  file_server {
    hide .git
  }
}

logs.arcbjorn.com {
  reverse_proxy dozzle:8080
}

memos.arcbjorn.com {
  reverse_proxy memos:5230
}

homepage.arcbjorn.com {
  root * /static/homepage.arcbjorn.com
  try_files {path} /index.html
  file_server {
    hide .git
  }
}

argentinamusic.space {
  root * /static/argentinamusic.space
  try_files {path} /index.html
  file_server {
    hide .git
  }
}
