{
  email arcbjorn@proton.me
}

infra.arcbjorn.com {
  reverse_proxy portainer:9000
}

db.arcbjorn.com {
  reverse_proxy pgadmin:80
}

git.arcbjorn.com {
  reverse_proxy gitea:3000
}

analytics.arcbjorn.com {
  reverse_proxy plausible:8000
}